export(fda_palette)
export(fda_theme)
export(ta_plot_catalog)
export(simulate_oncology)
export(simulate_cardiovascular)
export(simulate_endocrinology)
export(simulate_immunology)
export(simulate_infectious)
export(simulate_neuroscience)
export(simulate_safety)
export(plot_km)
export(plot_waterfall)
export(plot_swimmer)
export(plot_spider)
export(plot_forest)
export(plot_change)
export(plot_responder)
export(plot_ae)
export(plot_edish)
export(plot_lab_shift)
export(plot_exposure)
export(cox_hr)

import(ggplot2)
importFrom(survival, survfit, survdiff, Surv, coxph)
importFrom(stats, complete.cases, pchisq, rexp, rnorm, runif, rbinom, setNames, na.omit, median, qnorm, ave, sd, reshape, relevel, aggregate)
importFrom(grDevices, hcl.colors)
importFrom(withr, with_seed)
